* {
  font-family: 'Assistant';
}
@font-face {
  font-family: 'Assistant';
  src: url('../src/assets/fonts/Assistant-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: "#E7ECF8";
}

